/*======================================================================*\
|| #################################################################### ||
|| # vBulletin 4.2.5
|| # ---------------------------------------------------------------- # ||
|| # Copyright ©2000-2019 vBulletin Solutions Inc. All Rights Reserved. ||
|| # This file may not be redistributed in whole or significant part. # ||
|| # ---------------- VBULLETIN IS NOT FREE SOFTWARE ---------------- # ||
|| #        www.vbulletin.com | www.vbulletin.com/license.html        # ||
|| #################################################################### ||
\*======================================================================*/

/* Definitions we expect */
form {
	margin: 0px;
}

label {
	cursor: default;
}

.normal {
	font-weight: normal;
}

.inlineimg {
	vertical-align: middle;
}

.underline {
	text-decoration: underline;
}

.vbmenu_hilite * {
	cursor: pointer;
}

/* Auto-clearing of floats */
.floatcontainer:after, .block_row:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.floatcontainer, .block_row {
	display: inline-block;
}
/* IE-Mac hide \*/
* html .floatcontainer, * html .block_row {
	height: 1%;
}
.floatcontainer, .block_row {
	display: block;
}
/* End IE-Mac hide */

/* Inline H1 final navbit */
.navbar h1 {
	margin: 0px;
	font-size: 100%;
	font-weight: bold;
	display: inline;
}

/*======================================================================*\
|| ####################################################################
|| # Downloaded: 17:39, Sat Aug 3rd 2019 : $Revision: 92140 $
|| # $Date: 2016-12-30 20:26:15 -0800 (Fri, 30 Dec 2016) $
|| ####################################################################
\*======================================================================*/